body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-image: url("./../img/amsterdam.svg"), url("./../img/background.jpg");
  background-position: left bottom, top left;
  background-size: auto, cover;
  background-repeat: no-repeat, repeat;
  animation: backgroundScroll 60s linear infinite;
}

.contact-background {
  background-image: url("./../img/background2.jpg");
  background-position: top left;
  background-repeat: repeat;
  animation: backgroundScroll2 60s linear infinite;
}

.about-background {
  background-color: black;
  background-image: url("./../img/background3.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  animation: backgroundScroll2 60s linear infinite;
}

.work-background {
  background-image: url("./../img/background.jpg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  animation: none;
}

@keyframes backgroundScroll {
  from { background-position: 0 100%, 0 0; }
  to { background-position: 100% 100%, 0 0; }
}

@keyframes backgroundScroll2 {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

h1 {
  font-size: 40px;
  font-weight: 700;
  animation: slideInUp 1s linear 1;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #357b70;
}

a:visited {
  color: #05676e;
}

a:hover,
a:focus {
  text-decoration: none;
  font-size: 110%;
}

a:active {
  color: #489c79;
}

* {
  box-sizing: border-box;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }
}

.page-header {
  display: flex;
  width: 100%;
  padding: 2px;
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.05) 60%, rgba(255, 255, 255, 0.8) 80%, white);
}

.page-header__item {
  width: 160px;
  height: 71px;
  border-radius: 50%;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-list__item--active {
  text-decoration: none;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.social-media__item {
  border-radius: 50%;
  background-color: white;
}

.profile {
  position: static;
  width: 65%;
  max-width: 900px;
  margin: 10% 17%;
  background-image: radial-gradient(white, #dcdcdc 40%, rgba(0, 0, 0, 0.05));
  text-align: center;
  display: inline-block;
}

.profile__portait {
  float: left;
  width: 250px;
  margin: 8% 5% 8% auto;
  border-radius: 50%;
}

.work h1 {
  color: white;
  text-align: center;
  padding-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 5%;
}

.grid__item {
  background-color: rgba(255, 255, 255, 0.8);
}

.grid__item:nth-last-child(3) {
  grid-area: 1/3/4/3;
}

.grid__item:nth-last-child(4) {
  grid-area: 3/1/4/3;
}

.grid__item:last-child {
  grid-area: 4/2/5/4;
}

.grid__item:hover {
  cursor: pointer;
  padding: 1%;
  border: 4px solid black;
  background-color: white;
  transition: border-width 0.2s linear;
}

.grid__item p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.grid__item:nth-last-child(3) p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

#project5 {
  float: left;
  width: 35%;
  padding: 4% 2% 0%;
}

#project6 {
  width: 90%;
  display: block;
  padding: 10% 0% 0% 15%;
}

#project8 {
  float: right;
  width: 35%;
  padding: 4% 1%;
}

#backtotop {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.6);
}

.about {
  width: 50%;
  margin: 5% auto;
  padding: 2%;
  position: static;
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.contact {
  width: 50%;
  margin: 5% auto;
  padding: 2%;
  position: static;
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

table {
  border-collapse: collapse;
  display: inline-block;
}

table,
th,
td {
  border: 1px solid black;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #556b2f;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
  font-size: 18px;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .about,
  .contact {
    width: 80%;
  }

  .navigation-list li {
    margin-top: auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .about,
  .contact {
    width: 70%;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  .grid__item:nth-last-child(3) {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  .grid__item:nth-last-child(4) {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 22px;
  }

  .profile__portait {
    float: none;
    margin: 8% auto;
  }
}
