:root {
  --primary-color: #dcdcdc;
  --secondary-color: #556b2f;
  --primary-font-weight: 400;
  --secondary-font-weight: 700;
  --primary-font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.6;
  background-color: var(--primary-color);
  background-image: url("./../img/amsterdam.svg"), url("./../img/minneapolis.jpg");
  background-position: left bottom, left top;
  background-repeat: no-repeat, repeat;
  animation: backgroundScroll 60s linear infinite;
}

@keyframes backgroundScroll {
  from { background-position: 0 100%, 100% 0; }
  to { background-position: 100% 100%, 100% 0; }
}

h1 {
  font-size: 40px;
  font-weight: var(--secondary-font-weight);
  animation: slideInUp 1s linear 1;
}

h2 {
  font-size: 30px;
  font-weight: var(--secondary-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--secondary-font-weight);
}

a {
  color: #357b70;
}

a:visited {
  color: #05676e;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba (0, 0, 0, 0.3);
  transition: 0.9s opacity;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }
}

.page-header__item {
  width: 160px;
  height: 71px;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
  font-size: 18px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portait {
  float: left;
  width: 250px;
  margin: 8% 5% 8% auto;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.profile {
  position: static;
  width: 65%;
  max-width: 900px;
  margin: 10% 17%;
  background-color: var(--primary-color);
  text-align: center;
  display: inline-block;
  border: 2px solid black;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 2px;
  border-bottom: 1px solid black;
  background-image: linear-gradient(to right, black, white);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-media {
  background-color: var(--primary-color);
  margin: 0 43%;
}

.work h1 {
  color: white;
  text-align: center;
  padding-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 5%;
}

.grid__item {
  background-color: var(--primary-color);
}

.grid__item:last-child {
  grid-area: 1/3/4/3;
}

.grid__item:nth-last-child(2) {
  grid-area: 3/1/4/3;
}

.about,
.contact {
  width: 50%;
  margin: 5% auto;
  padding: 2%;
  position: static;
  max-width: 900px;
  background-color: var(--primary-color);
  text-align: center;
  border: 2px solid black;
}

table {
  border-collapse: collapse;
  display: inline-block;
}

table,
th,
td {
  border: 1px solid black;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .about,
  .contact {
    width: 80%;
  }

  .social-media {
    margin: 0 35%;
  }

  .navigation-list li {
    margin-top: auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .social-media {
    margin: 0 40%;
  }

  .about,
  .contact {
    width: 70%;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  .grid__item:nth-last-child(2) {
    grid-column: 1/1;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 22px;
  }

  .profile__portait {
    float: none;
    margin: 8% auto;
  }
}
